.Card {
    justify-self: center;
    padding: 20px;
    box-sizing: border-box;
    width: 350px;
    text-align: center;
    background-color: white;
}

.Card img {
    width: 80%;
    height: 300px;
}

.Card .title {
    height: 80px;
    font-family: "Arial Black";
}

.Card .description {
    height: 50px;overflow: hidden;
    padding: 5px;
}

.Card .button {
    box-shadow: 1px 5px white;
    background-color: lightsteelblue;
    cursor: pointer;
}